[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==5.*"
django-bootstrap5 = "*"
pillow = "*"

[dev-packages]
black = "==24.8.0"
mypy = "==1.11.2"
pre-commit = "*"
tox = "*"

[requires]
python_version = "3.9"
